/* GENERAL  */

.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* TOOLBAR */

.toolbarButtons {
    margin-left: 10px;
}

.spacer {
    flex: 1 1 auto;
    text-align: center;
}

/* SIDENAV */

.sidenav {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    width: 200px;
    height: 100%;
}

.sidenav-element {
    margin: 10px;
}

/* BUTTONS */
.userButtons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background: white;
}

.userButton {
    margin: 10px;
}




/* RESPONSIVITY */

@media all and (max-width: 600px) {
    .wrapper { flex-flow: column nowrap; }
    .halfWrapper { flex: 1 100%; }
    .buttons { flex-flow: column nowrap;}
}