<div *ngIf="user" class = 'container'>
  <mat-toolbar>

      <!-- Icône de retour à la page d'accueil -->
      <button mat-icon-button (click) = "home()">
        <mat-icon>home</mat-icon>
      </button>

      <span class = 'spacer'>Bienvenue {{user.name}}!</span>

      <div fxShow='true' fxHide.xs='true'>
        <button class = 'toolbarButtons' mat-raised-button>
          Mon Compte
        </button>
        <button class = 'toolbarButtons' mat-raised-button>
          Déconnexion
        </button>
      </div>

      <!-- Menu hamburger pour mobile -->
      <button mat-icon-button
              fxShow='true' fxHide.gt-xs="true"
              (click) = 'snav.toggle()'>
        <mat-icon>menu</mat-icon>
      </button>

  </mat-toolbar>

  <mat-sidenav-container>

    <!-- Menu latéral pour mobile -->
    <mat-sidenav #snav class = 'sidenav'>
      <button class = 'sidenav-element'
              mat-raised-button>Mon Compte</button>
      <button class = 'sidenav-element'
              mat-raised-button>Déconnexion</button>
    </mat-sidenav>

    <!-- Contenu principal de la page -->
    <mat-sidenav-content>

      <!-- Boutons pour lister ses prsonnages et en créer un nouveau -->
      <div class = 'userButtons'>
        <button class = 'userButton' mat-raised-button
                (click) = "myCharacters()">
          {{ isUserCharacters? 'Tous les Personnages' : 'Mes Personnages'}}
        </button>
        <button class = 'userButton' mat-raised-button>
          Nouveau personnage
        </button>
      </div>

      <!--Liste des Personnages-->
      <!-- <app-character-list></app-character-list>> -->
      <router-outlet></router-outlet>

    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
