<!-- <mat-toolbar class = 'containerHeader'>
  <div class = 'elementHeader'>
  <button mat-icon-button>
    <mat-icon>home</mat-icon>
  </button>
  </div>
  <div class = 'containerHeaderRight elementHeader'>
  <form >
    <input matInput value = 'Identifiant'>
    <input matInput value = 'Mot de passe'>
    <button mat-raised-button>Connexion</button>
  </form>
  <button mat-raised-button>Register</button>
  </div>
  
</mat-toolbar> -->
<div class = 'ontainer'>
  <mat-toolbar>
    <button mat-icon-button>
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button (click) = 'snav.toggle()'>
    </button>
    <h1 class = 'app-name'>Jdr App</h1>
  </mat-toolbar>
  <mat-sidenav-container class='sidenav-container'>
    <mat-sidenav #snav class='sidenav'>
      <mat-nav-list>
        <form >
          <input matInput value = 'Identifiant'>
          <input matInput value = 'Mot de passe'>
          <button mat-raised-button>Connexion</button>
        </form>
        <button mat-raised-button>Register</button>
      </mat-nav-list>
    </mat-sidenav>
  </mat-sidenav-container>
  <mat-sidenav-content fxLayout='column' fxLayoutAlign='space-between'>
    <div class='content' fxLayout='row' fxFlex='1 0 auto' fxLayoutAlign='center center'>

    </div>
  </mat-sidenav-content>
</div>

