.containerHeader {
    display : flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content : space-between;
}

.elementHeader {
    flex: 1 50%;
}

.containerHeaderRight {
    display: flex;
    justify-content : space-around;
    align-items : center;
}

@media all and (max-width: 600px) {
    .containerHeader { flex-flow : column nowrap; }
    .elementHeader > * {flex: 1 100% }
}
