<div class = 'container'>
    <mat-toolbar>

        <!-- Icône de retour à la page d'accueil -->
        <button mat-icon-button>
                <mat-icon>home</mat-icon>
        </button>

        <span class = 'spacer'></span>

        <!-- Formulaire de connexion  -->
        <form fxShow='true' fxHide.xs='true'>
            <input class = 'connexion' matInput value = 'Identifiant'>
            <input class = 'connexion' matInput value = 'Mot de passe'>
            <button mat-raised-button>Connexion</button>
            <button mat-raised-button>Register</button>
        </form>

        <!-- Menu hamburger pour mobile -->
        <button mat-icon-button
                fxShow='true' fxHide.gt-xs="true"
                (click) = 'snav.toggle()'>
            <mat-icon>menu</mat-icon>
        </button>

    </mat-toolbar>

    <mat-sidenav-container>

        <!-- Menu latéral pour mobile -->
        <mat-sidenav #snav class = 'sidenav'>
            <form >
                <input  class = 'sidenav-element'
                        matInput value = 'Identifiant'>
                <input  class = 'sidenav-element'
                        matInput value = 'Mot de passe'>
                <button class = 'sidenav-element'
                        mat-raised-button>Connexion</button>
            </form>
            <button class = 'sidenav-element'
                    mat-raised-button>Register</button>
        </mat-sidenav>

        <!-- Contenu principal de la page -->
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>

    </mat-sidenav-container>
</div>