.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.sidenav-container {
    flex: 1;
    flex-direction: column;
}

.sidenav {
    width: 200px;
}

.spacer {
    flex: 1 1 auto;
}

/* .wrapper {
    display: flex;
    flex-flow : row wrap;
} */

.halfWrapper  {
    /* flex: 1 50%; */
    max-width: 50%;
}

@media all and (max-width: 600px) {
    /* .wrapper { flex-flow : column nowrap; }*/

}

  






