/* GENERAL  */

.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* TOOLBAR */

.spacer {
    flex: 1 1 auto;
}

.connexion {
    background: white;
    width: auto;
    vertical-align: center;
    padding-left: 5px;
}

/* SIDENAV */

.sidenav {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    width: 200px;
    height: 100%;
}

.sidenav-element {
    margin: 10px;
}

/* RESPONSIVITY */

@media all and (max-width: 600px) {
    .wrapper { flex-flow: column nowrap; }
    .halfWrapper { flex: 1 100%; }
}

  






