.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.sidenav-container {
    flex: 1;
}

.sidenav {
    width: 200px;
}

.spacer {
    flex: 1 1 auto;
}

/* @media screen and (max-width: 600px) {
    .menuButton { visibility: visible; }
    .toolbar { visibility: hidden; }
} */

.wrapper {
    display: flex;
    flex-flow : row wrap;
}

app-header {
    flex: 1 100%;
}

.halfScreen  {
    flex: 1 50%;
}

@media all and (max-width: 600px) {
    .wrapper { flex-flow : column nowrap; }
    .wrapper > * {flex: 1 100% }
}

.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  






