<div class = 'container'>
    <mat-toolbar>
        <button mat-icon-button>
                <mat-icon>home</mat-icon>
        </button>
        <span class = 'spacer'></span>
        <form fxShow='true' fxHide.xs='true'>
            <input matInput value = 'Identifiant'>
            <input matInput value = 'Mot de passe'>
            <button mat-raised-button>Connexion</button>
            <button mat-raised-button>Register</button>
        </form>
        <button mat-icon-button
            fxShow='true' fxHide.gt-xs="true"
            (click) = 'snav.toggle()'>
            <mat-icon>menu</mat-icon>
        </button>
    </mat-toolbar>
    <mat-sidenav-container>
        <mat-sidenav #snav class = 'sidenav'>
            <form >
                <input matInput value = 'Identifiant'>
                <input matInput value = 'Mot de passe'>
                <button mat-raised-button>Connexion</button>
            </form>
            <button mat-raised-button>Register</button>
            </mat-sidenav>
        <mat-sidenav-content class = 'wrapper'>
            <app-character-list class = 'halfWrapper'></app-character-list>
            <app-sort-options class = 'halfWrapper'></app-sort-options>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>