<mat-card *ngIf="character">
  <form #postForm="ngForm" (ngSubmmit) = "onSubmit()">
    <mat-form-field>
        <input matInput (ngModel)="character.characterName"
        placeholder = "Nom"
        name = "name" type = "text">
    </mat-form-field>
    <p (ngModel)="character.level">Niveau: 1</p>
    <mat-form-field>
      <mat-select placeholder="Classe"
                  [formControl]="classControl"
                  (ngModel)="character.characterClass.className"
                  required>
        <mat-option *ngFor="let class of classNames" [value]="class">
          {{class.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="classControl.hasError('required')">Choisissez une classe</mat-error>
    </mat-form-field>
    <button mat-raised-button type = "submit">
      Valider
    </button>
    <p>{{character | json}}</p>
  </form>
</mat-card>
