<mat-card *ngIf="gameCharacter">
  <form #postForm="ngForm" (ngSubmit) = "onSubmit()">

    <mat-form-field>
        <input matInput [(ngModel)]="gameCharacter.characterName"
        placeholder = "Nom"
        name = "name" type = "text">
    </mat-form-field>

    <p>Race: {{gameCharacter.characterClass?.race?.raceName}}</p>

    <mat-form-field>
      <mat-select placeholder="Sexe"
                  [formControl]="classControl"
                  [(ngModel)]="gameCharacter.sex"
                  (ngModelChange)="sexChanged($event)"
                  required>
        <mat-option *ngFor="let sex of sexes" [value]="sex.value">
          {{sex.viewValue}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="classControl.hasError('required')">Choisissez un sexe</mat-error>
    </mat-form-field>

    <p>Taille: {{gameCharacter.height}} m</p> 

    <mat-form-field>
      <mat-select placeholder="Allégeance"
                  [formControl]="classControl"
                  [(ngModel)]="gameCharacter.alliegeance"
                  required>
        <mat-option *ngFor="let alliegeance of alliegeances" [value]="alliegeance">
          {{alliegeance}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="classControl.hasError('required')">Choisissez une allégeance</mat-error>
    </mat-form-field>

    <p>Niveau: 1</p>

    <mat-form-field>
      <mat-select placeholder="Classe"
                  [formControl]="classControl"
                  [(ngModel)]="gameCharacter.characterClass"
                  (ngModelChange)="classChanged($event)"
                  required>
        <mat-option *ngFor="let class of characterClasses" [value]="class">
          {{class.className}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="classControl.hasError('required')">Choisissez une classe</mat-error>
    </mat-form-field>

    <p>Classe {{gameCharacter.characterClass?.className}}</p>

    <p>Force: {{gameCharacter.strength}}</p>
    <p>Dextérité: {{gameCharacter.dexterity}}</p>
    <p>Constitution: {{gameCharacter.constitution}}</p>
    <p>Intelligence: {{gameCharacter.intelligence}}</p>
    <p>Sagesse: {{gameCharacter.wisdom}}</p>
    <p>Charisme: {{gameCharacter.charism}}</p>

    <button mat-raised-button type = "submit">
      Valider
    </button>

    <p>{{gameCharacter | json}}</p>

  </form>
</mat-card>
