<mat-card *ngIf = "gameCharacters">

  <!-- Affichage du nombre de personnages dans la liste -->
  <p class = 'numberCharacter'>Il y a {{numberCharacters}} {{personnage}}.</p>

  <!-- Filtrage du tableau -->
  <mat-form-field>
    <input matInput (keyup)="filterTable($event.target.value)" placeholder="Recherche">
  </mat-form-field>

  <!-- Liste des personnages -->
  <mat-table [dataSource]="dataList" matSort>

    <!-- Colonne du nom des personnages -->
    <ng-container matColumnDef = "nom">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <strong>Nom</strong>
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class = 'mobile-label'>Nom:</span>
        {{element.characterName}}
      </mat-cell>
    </ng-container>

    <!-- Colonne de la Classe des personnages -->
    <ng-container matColumnDef = "classe">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <strong>Classe</strong>
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class = 'mobile-label'>Classe:</span>
        {{element.characterClass.className}}
      </mat-cell>
    </ng-container>

    <!-- Colonne du Niveau des personnages -->
    <ng-container matColumnDef = "niveau">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <strong>Niveau</strong>
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class = 'mobile-label'>Niveau:</span>
        {{element.level}}
      </mat-cell>
    </ng-container>

    <!-- Colonne des créateurs des personnages -->
    <ng-container matColumnDef = "joueur">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <strong>Joueur</strong>
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class = 'mobile-label'>Joueur:</span>
        {{element.user.name}}
      </mat-cell>
    </ng-container>

    <!-- Colonne de la Note des personnages -->
    <ng-container matColumnDef = "note">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <strong>Note</strong>
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class = 'mobile-label'>Note:</span>
        {{element.appreciation?.averageScore}}
      </mat-cell>
    </ng-container>

    <!-- Colonne du nombre de Votants des personnages -->
    <ng-container matColumnDef = "votants">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          <strong>Votants</strong>
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class = 'mobile-label'>Votants:</span>
          {{element.appreciation?.numberOfVoters}}
        </mat-cell>
    </ng-container>

    <!-- Entêtes des colonnes du tableau de personnages -->
    <mat-header-row *matHeaderRowDef="colonnes">
    </mat-header-row>
    <mat-row *matRowDef="let row; columns:colonnes">
    </mat-row>
  </mat-table>

  <!-- Options de pagination du tableau de personnages -->
  <mat-paginator #paginator [pageSize]=10 [pageSizeOptions]="[5,10,20]" [showFirstLastButtons]="true">
  </mat-paginator>
  
</mat-card>