<p class = 'numberCharacter'> Il y a {{ numberCharacters }} personnages</p>

<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Classe</th>
      <th>Niveau</th>
      <th fxShow='true' fxHide.xs='true'>Note</th>
      <th fxShow='true' fxHide.xs='true'>Votants</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let c of visibleCharacters">
      <td>{{ c.nameCharacter }}</td>
      <td>{{ c.characterClass }}</td>
      <td>{{ c.level }}</td>
      <td fxShow='true' fxHide.xs='true'>{{ c.score }}</td>
      <td fxShow='true' fxHide.xs='true'>{{ c.numberOfVoters }}</td>
    </tr>
  </tbody>
</table>
