.numberCharacter {
    text-align: center;
    font-size: 50px;
}

table {
    width: 100%;
    font-size: 25px;
}

th {
    text-align: left;
}

@media all and (max-width: 600px) {
    .numberCharacter { font-size: 25px; }
    .table { font-size: 15px; }
}





