/* GENERAL  */

.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* INPOUT */
input {
    border-top: 2px solid grey;
    border-left: 2px solid grey;
    border-bottom: 0px;
    border-right: 0px;
}

/* TOOLBAR */

.spacer {
    flex: 1 1 auto;
}

.title {
    font-size: 2em;
}

.connexion {
    background: white;
    width: auto;
    vertical-align: center;
    padding-left: 5px;
}

/* SIDENAV */
.sidenav {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    width: 200px;
    height: 100%;
}

.sidenav-element {
    margin: 10px;
}

/* RESPONSIVITY */

@media all and (max-width: 600px) {
    .halfWrapper { flex: 1 100%; }
    .title { font-size: 1.7em; }
    .wrapper { flex-flow: column nowrap; }
}